.input-comum{
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto;
}

.input-comum label{
    display: block;
    text-align: left;
    margin-left: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    filter: drop-shadow(3px 3px gray);
}

.input-comum input {
    border: none;
    border-radius: 16px;
    padding: 16px;
    font-size: 24px;
    box-shadow: 5px 5px 5px #6f6f6f;
}